body{
  background: url(trump.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.RandoQuote{
  color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
  width: 75vw;
  margin: 0 auto;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.RandoQuote h1{

  font-size: 3.5em;
}

.quoteText{
  font-size: 2.5em;
}

button{
  width: 45vw;
  height: 2em;
  background: rgba(255, 255, 255, 0.3);
  font-size:2em;
  color: white;
  font-family: 'Special Elite', cursive;
  padding: 20px;
}
